html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card {
    margin-bottom: 20px;
    padding:10px;
}

button {
    margin-bottom: 50px;
}

.pie {
    margin: 5vmin auto;
    border-radius: 50%;
    width: 25vmin;
    height: 25vmin;
    overflow: hidden;
    background: linear-gradient(-21deg, #2196f3 50%, transparent 50%), linear-gradient(to right, #2196f3 50%, #ffc107 50%);
}

